.single-movie{
  border-radius: 6px;
  cursor: pointer;
  &:hover{
    background-color: #1a3d59;
  }
  a{
   text-decoration: none;
  }
  .cover-container{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-height: 358px;
    overflow: hidden;
    z-index: 1;
  }
  .movie-cover{
    width: 100%;
    transition: transform .2s;
    object-fit: cover;
    &:hover{
      transform: scale(1.1);
    }
  }
  .no-poster{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    font-family: inherit;
    min-height: 357px;
  }
  .movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
    p{
     color: #fff;
    }
    h5{
     text-align: center;
     color: #f7f759;
     padding: 5px;
    }
  }
}