.youtube{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 width: 100%;
 top: 0;
 left: 0;
 position: fixed;
 background-color: rgba(0, 0, 0, 0.7);
 .modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  .modal-wrapper{
    position: relative;
    height: 570px;
    width: 100%;
    iframe{
     position: absolute;
     left: 0;
     top: 0;
     height: 80%;
     width: 100%;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
    }
   }
   .body-modal{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    background-color: #0f1014;
    color: #ffffff;
    padding: 15px;
    width: 100%;
    margin-top: -120px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
     .movie-details{ 
       h3{
         font-size: 1.35rem;
         letter-spacing: 1px;
         margin: 0px;
       }
     }
     .movie-runtime{
       text-align: center;
       max-width: 60px;
       font-size: 12px;
       font-weight: bold;
       background-color: #f7f759;
       color: #0f1014;
       padding: 3px;
       border-radius: 5px;
      }
     .genre-container{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      .movie-genre{
       margin-right: 12px;
       font-size: 12px;
       background-color: #ef233c;
       padding: 5px;
       border-radius: 5px;
       &:hover{
        box-shadow: 1px 1px 5px 2px rgba(255,255,255,0.8);
       }
      }
     }
     .back-button{
      padding: 5px;
      border-radius: 5px;
      background-color: #000;
      color: #fff;
      border: 1px solid #fff;
      font-family: inherit;
      cursor: pointer;
      &:hover{
       box-shadow: 1px 1px 5px 2px rgba(255,255,255,0.8);
      }
     }
  }
 }
}

//Media queries
@media (min-width: 481px) and (max-width: 768px ){
  .youtube{
   .modal{
    .body-modal{
     .genre-container{
      .movie-genre{
       margin-right: 8px;
       font-size: 10px;
       padding: 3px;
       border-radius: 3px;
      }
     }
     .movie-runtime{
      font-size: 10px;
      padding: 3px;
      border-radius: 3px;
     }
     .back-button{
      font-size: 12px;
      padding: 3px;
      border-radius: 3px;
     }
    }
   }
  }
}

@media only screen and (max-width: 480px ){
  .youtube{
    .modal{
     .body-modal{
      .genre-container{
       .movie-genre{
        margin-right: 8px;
        font-size: 10px;
        padding: 3px;
        border-radius: 3px;
       }
      }
      .movie-runtime{
       display: none;
      }
      .back-button{
       font-size: 12px;
       padding: 3px;
       border-radius: 3px;
      }
     }
    }
   }
}